---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About" description="About Nick Kane">
  <div class="page">
    <h1>About Nick Kane</h1>
    <p>
      <img src="/assets/about-me/nkane-profile-no-background.png" class="profile-small-img" alt="Nick Kane" />
      Hi, I'm Nick Kane, a self-taught programmer with a passion for building software that makes an impact. Currently,
      I'm a Staff Engineer, where I specialize in driving innovation and solving complex technical challenges. My journey in
      coding began with curiosity and has evolved into a fulfilling career.
    </p>
    <p>
      In addition to programming, I practice and teach Jiu-Jitsu as an assistant coach at Valhalla Combat Academy in Southern
      Pines, NC. The discipline and resilience I've developed on the mats complement my approach to problem-solving in tech.
      I also have a strong interest in game programming, where I blend creativity with technology to create immersive
      experiences.
    </p>
    <p>
      This blog is where I share my thoughts on programming, martial arts, and game development.
    </p>
    <p>Keep hackin'.</p>
    <p>
      <img src="/assets/gifs/hackerman-emote.gif" class="profile-small-img" alt="Hackerman" />
    </p>

    <h1>About Sugar Kane</h1>
    <p>
      <img src="/assets/about-me/suggie-deal-with-it.png" class="profile-small-img" alt="Sugar Kane" />
      Hi, I'm Sugar Kane, Nick Kane's loyal companion. Whether Nick is coding or coaching Jiu-Jitsu, I'm always around,
      enjoying the day. I love relaxing, playing with my favorite toys, and keeping an eye on everything happening around me.
    </p>
    <p>
      I'm also quite the model! You might have seen me striking a pose in some of Nick's photos. If you like what you see,
      you can check out stickers of me available in <a href="https://www.stickermule.com/nkane">Nick's store</a>. It's a fun
      way to share a bit of my charm with everyone!
    </p>
  </div>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }

  .profile-small-img {
    width: 160px;
    margin: 0 0 20px 0;
  }
</style>
