---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Nick Kane's Website" description="Rants, ramblings, and ideas straight from my internal CPU.">
  <div class="index-content framed">
    <h1 id="nick-kane-website">Nick Kane's Website</h1>
    <p>Rants, ramblings, and ideas straight from my internal CPU.</p>
  </div>
  
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
